.user-profile-main {
    align-items: center;
    background-color: #e6e6e6;
    background-image: url("http://www.transparenttextures.com/patterns/woven.png");
    border-radius: 10px;
    display: flex;
    height: 400px;
    justify-content: space-around;
    margin: 130px;
    position: relative;
    width: 80%;
}

.userProfile {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 25%;
}

.user-nav-bar {
    display: flex;
}

.user-avatar {
    border-radius: 10px;
    display: flex;
    height: 70%;
    width: 100%;
}

.user-name {
    font-size: 30px;
}

.user-stats {
    align-items: center;
    background: linear-gradient(135deg, rgba(250, 198, 149, 1) 0%, rgba(245, 171, 102, 1) 47%, rgba(239, 141, 49, 1) 100%);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    font-size: 30px;
    height: 90%;
    justify-content: center;
    width: 50%;
}

.start-game-button {
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(0, 183, 234, 1) 0%, rgba(0, 158, 195, 1) 100%);
    font-family: 'Baloo';
    font-size: 20px;
    margin-top: 100px;
    width: 50%;
}
