<h1>Login or Sign Up To Play! :)</h1>

<div class="user-card round5">
    <div class="login-box">
        <form class="login-form" type="submit" name="loginForm" novalidate>
            <input type="text" name="userName" ng-model="inputInfo.nickname" class="username is-hidden" placeholder="username" class="is-hidden" required>
            <input type="text" name="text" ng-model="inputInfo.email" class="email" placeholder="email" required />
            <input type="password" name="passWord" ng-model="inputInfo.password" class="password" placeholder="password" required>
            <input type="url" name="imageUrl" ng-model="inputInfo.image" class="image-url is-hidden" placeholder="image url" required>

            <input type="button" ng-click="signUp()" class="signup is-hidden" value="Login">
            <input type="button" ng-click="loginUser()" class="login" value="Submit">
        </form>

        <!-- Card Footer -->
        <div class="footer">
        <a class="toggle-link" href="#">Sign Up</a>
        </div>
    </div>
</div>
